<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.MaintainStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.MaintainStrategy">
        <id column="ms_id" property="msId" />
        <result column="ms_name" property="msName" />
        <result column="ms_type" property="msType" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="ms_status" property="msStatus" />
        <result column="ms_desc" property="msDesc" />
        <result column="useflag" property="useflag" />
        <result column="user_id_create" property="userIdCreate" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="user_id_mod" property="userIdMod" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ms_id AS msId, ms_name AS msName, ms_type AS msType, begin_time AS beginTime, end_time AS endTime, ms_status AS msStatus, ms_desc AS msDesc, useflag, user_id_create AS userIdCreate, gmt_create AS gmtCreate, user_id_mod AS userIdMod, gmt_modified AS gmtModified
    </sql>

</mapper>
