<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.MangeddomainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.Mangeddomain">
        <id column="md_id" property="mdId" />
        <result column="md_name" property="mdName" />
        <result column="md_desc" property="mdDesc" />
        <result column="showorder" property="showorder" />
        <result column="delflag" property="delflag" />
        <result column="useflag" property="useflag" />
        <result column="user_id_create" property="userIdCreate" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="user_id_mod" property="userIdMod" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        md_id AS mdId, md_name AS mdName, md_desc AS mdDesc, showorder, delflag, useflag, user_id_create AS userIdCreate, gmt_create AS gmtCreate, user_id_mod AS userIdMod, gmt_modified AS gmtModified
    </sql>

</mapper>
