<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.MdResMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.MdRes">
        <id column="id" property="id"/>
        <result column="md_id" property="mdId"/>
        <result column="res_id" property="resId"/>
        <result column="useflag" property="useflag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, md_id AS mdId, res_id AS resId, useflag
    </sql>

    <!--<select id="findByMap" resultType="com.hedian.entity.MdRes">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from tbl_md_res where useflag = 1-->
        <!--<if test="mdIds != null">and md_id IN-->
            <!--<foreach item="mId" collection="mdIds" open="(" separator=","-->
                     <!--close=")">-->
                <!--#{mId}-->
            <!--</foreach>-->
        <!--</if>-->
    <!--</select>-->

    <select id="findByMap" resultMap="BaseResultMap">
        select tmr.*
        from tbl_md_res tmr
	    left join tbl_res_base trb on tmr.res_id=trb.res_id
        where trb.res_serialnumber is not null
        <if test="mdIds != null and mdIds.size()>0">and tmr.md_id IN
            <foreach item="mId" collection="mdIds" open="(" separator=","
                     close=")">
                #{mId}
            </foreach>
        </if>
    </select>



</mapper>
