<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.ResBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.ResBase">
        <id column="res_id" property="resId"/>
        <result column="res_name" property="resName"/>
        <result column="res_alias" property="resAlias"/>
        <result column="res_serialnumber" property="resSerialnumber"/>
        <result column="res_no" property="resNo"/>
        <result column="res_desc" property="resDesc"/>
        <result column="res_mtype_id" property="resMtypeId"/>
        <result column="res_stype_id" property="resStypeId"/>
        <result column="res_ipv4" property="resIpv4"/>
        <result column="res_port" property="resPort"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="res_address" property="resAddress"/>
        <result column="res_status" property="resStatus"/>
        <result column="res_abnormal_id" property="resAbnormalId"/>
        <result column="res_abnormalcode" property="resAbnormalcode"/>
        <result column="res_abnormallevel_id" property="resAbnormallevelId"/>
        <result column="res_abnormal_name" property="resAbnormalName"/>
        <result column="res_abnormaldesc" property="resAbnormaldesc"/>
        <result column="res_abnomaltime" property="resAbnomaltime"/>
        <result column="res_recoverytime" property="resRecoverytime"/>
        <result column="res_color" property="resColor"/>
        <result column="useflag" property="useflag"/>
        <result column="user_id_create" property="userIdCreate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_id_mod" property="userIdMod"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <resultMap id="ResOtherMap" type="com.hedian.entity.ResBase">
        <id column="res_id" property="resId"/>
        <result column="res_name" property="resName"/>
        <result column="res_alias" property="resAlias"/>
        <result column="res_serialnumber" property="resSerialnumber"/>
        <result column="res_no" property="resNo"/>
        <result column="res_desc" property="resDesc"/>
        <result column="res_mtype_id" property="resMtypeId"/>
        <result column="res_stype_id" property="resStypeId"/>
        <result column="res_ipv4" property="resIpv4"/>
        <result column="res_port" property="resPort"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="res_address" property="resAddress"/>
        <result column="res_status" property="resStatus"/>
        <result column="res_abnormal_id" property="resAbnormalId"/>
        <result column="res_abnormalcode" property="resAbnormalcode"/>
        <result column="res_abnormallevel_id" property="resAbnormallevelId"/>
        <result column="res_abnormal_name" property="resAbnormalName"/>
        <result column="res_abnormaldesc" property="resAbnormaldesc"/>
        <result column="res_abnomaltime" property="resAbnomaltime"/>
        <result column="res_recoverytime" property="resRecoverytime"/>
        <result column="res_color" property="resColor"/>
        <result column="useflag" property="useflag"/>
        <result column="user_id_create" property="userIdCreate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_id_mod" property="userIdMod"/>
        <result column="gmt_modified" property="gmtModified"/>

        <association property="resStatusDO" javaType="com.hedian.entity.ResStatus">
            <id column="res_status" property="resStatus"/>
            <result column="res_status_name" property="resStatusName"/>
            <result column="res_status_color" property="resStatusColor"/>
            <result column="showorder" property="showorder"/>
            <result column="delflag" property="delflag"/>
            <result column="useflag" property="useflag"/>
        </association>
        <association property="resMainType" javaType="com.hedian.entity.ResMaintype">
            <id column="res_mtype_id" property="resMtypeId"/>
            <result column="res_mtype_name" property="resMtypeName"/>
            <result column="res_mtype_desc" property="resMtypeDesc"/>
            <result column="showorder" property="showorder"/>
            <result column="delflag" property="delflag"/>
            <result column="useflag" property="useflag"/>
        </association>
        <association property="resSubtype" javaType="com.hedian.entity.ResSubtype">
            <id column="res_stype_id" property="resStypeId"/>
            <result column="res_mtype_id" property="resMtypeId"/>
            <result column="parent_id" property="parentId"/>
            <result column="res_stype_name" property="resStypeName"/>
            <result column="res_stype_desc" property="resStypeDesc"/>
            <result column="showorder" property="showorder"/>
            <result column="delflag" property="delflag"/>
            <result column="useflag" property="useflag"/>
        </association>
        <association property="resAbnormallevel" javaType="com.hedian.entity.ResAbnormallevel">
            <id column="res_abnormallevel_id" property="resAbnormallevelId"/>
            <result column="res_abnormallevel_name" property="resAbnormallevelName"/>
            <result column="res_abnormallevel_color" property="resAbnormallevelColor"/>
            <result column="res_abnormallevel_priority" property="resAbnormallevelPriority"/>
            <result column="showorder" property="showorder"/>
            <result column="useflag" property="useflag"/>
        </association>
    </resultMap>

    <resultMap id="TopResMap" type="com.hedian.entity.ResBase">
        <id column="res_id" property="resId"/>
        <result column="res_name" property="resName"/>
        <result column="res_alias" property="resAlias"/>
        <result column="countNum" property="countNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        res_id AS resId, res_name AS resName, res_alias AS resAlias, res_serialnumber AS resSerialnumber, res_no AS resNo, res_desc AS resDesc, res_mtype_id AS resMtypeId, res_stype_id AS resStypeId, res_ipv4 AS resIpv4, res_port AS resPort, longitude, latitude, res_address AS resAddress, res_status AS resStatus, res_abnormal_id AS resAbnormalId, res_abnormalcode AS resAbnormalcode, res_abnormallevel_id AS resAbnormallevelId, res_abnormal_name AS resAbnormalName, res_abnormaldesc AS resAbnormaldesc, res_abnomaltime AS resAbnomaltime, res_recoverytime AS resRecoverytime, res_color AS resColor, useflag, user_id_create AS userIdCreate, gmt_create AS gmtCreate, user_id_mod AS userIdMod, gmt_modified AS gmtModified
    </sql>

    <!--top故障列表-->
    <select id="findByMap" resultMap="ResOtherMap">
        select a.*,b.*,d.*
        from (select * from tbl_res_base where 1 = 1
        <if test="resIds != null">
            and res_id IN
            <foreach item="rId" collection="resIds" open="(" separator=","
                     close=")">
                #{rId}
            </foreach>
        </if>
        <if test="resMtypeId != null and resMtypeId != ''">and res_mtype_id = #{resMtypeId}</if>
        <if test="resStatus != null and resStatus != ''">and res_status != #{resStatus}</if>
        ) a
        LEFT JOIN (select * from tbl_res_abnormallevel where useflag=1) b ON a.res_abnormallevel_id=b.res_abnormallevel_id
        LEFT JOIN (select * from tbl_res_status where useflag=1) d ON a.res_status=d.res_status
        order by  a.res_id
    </select>

    <select id="getTopRes" resultMap="TopResMap">
        select b.res_id,b.res_name,b.res_alias,count(b.res_id) as countNum
        from (select * from tbl_res_mo_abnormal_info
        <where>
            <if test="resIds != null">and res_id IN
                <foreach item="rId" collection="resIds" open="(" separator=","
                         close=")">
                    #{rId}
                </foreach>
            </if>
        </where>
        ) a
        LEFT JOIN tbl_res_base b ON a.res_id=b.res_id
        GROUP BY a.res_id ORDER BY countNum DESC
    </select>

    <select id="selectByResMtypeId" resultMap="ResOtherMap">
        SELECT *
        FROM tbl_res_base rb
          INNER JOIN tbl_res_subtype rs ON  rb.res_stype_id = rs.res_stype_id
          INNER JOIN tbl_res_maintype rm ON rb.res_mtype_id = rm.res_mtype_id
      WHERE
          rb.res_mtype_id = #{res_mtype_id,jdbcType=INTEGER}
    </select>

    <select id="selectPageByConditionResBase" resultMap="ResOtherMap">
        SELECT *
        FROM tbl_res_base rb
          INNER JOIN tbl_res_subtype rs ON  rb.res_stype_id = rs.res_stype_id
          INNER JOIN tbl_res_maintype rm ON rb.res_mtype_id = rm.res_mtype_id
        <where>
            <if test="resName != null and resName != '' ">
                and rb.res_name like concat('%',#{info},'%')
            </if>
            <if test="resIPV4 != null and resIPV4 != '' ">
                and rb.res_ipv4 like concat('%',#{info},'%')
            </if>
            <if test="resSerialNum != null and resSerialNum != '' ">
                and rb.res_serialnumber like concat('%',#{info},'%')
            </if>
            <if test="resAddress != null and resAddress != '' ">
                and rb.res_address like concat('%',#{info},'%')
            </if>
            <if test="resStypeName != null and resStypeName != '' ">
                and rs.res_stype_name like concat('%',#{info},'%')
            </if>
            <if test="resMtypeName != null and resMtypeName != '' ">
                and rm.res_mtype_name like concat('%',#{info},'%')
            </if>
        </where>
        ORDER BY rb.gmt_create DESC
    </select>


</mapper>
