<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.ResMoAbnormalInfoHMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.ResMoAbnormalInfoH">
        <id column="res_abnormal_id" property="resAbnormalId" />
        <result column="res_id" property="resId" />
        <result column="mo_th_id" property="moThId" />
        <result column="mo_kpi_id" property="moKpiId" />
        <result column="mo_abnormal_id" property="moAbnormalId" />
        <result column="res_abnormal_code" property="resAbnormalCode" />
        <result column="res_abnormal_name" property="resAbnormalName" />
        <result column="res_abnormallevel_id" property="resAbnormallevelId" />
        <result column="abnormal_type_id" property="abnormalTypeId" />
        <result column="res_abnormaldesc" property="resAbnormaldesc" />
        <result column="res_abnomaltime" property="resAbnomaltime" />
        <result column="res_recoverytime" property="resRecoverytime" />
        <result column="res_abnormalvalue" property="resAbnormalvalue" />
        <result column="res_revoveryvalue" property="resRevoveryvalue" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="res_abnormalstatus" property="resAbnormalstatus" />
        <result column="confirm_type" property="confirmType" />
        <result column="confirm_user_id" property="confirmUserId" />
        <result column="confirm_time" property="confirmTime" />
        <result column="confirm_info" property="confirmInfo" />
        <result column="clean_type" property="cleanType" />
        <result column="clean_user_id" property="cleanUserId" />
        <result column="clean_time" property="cleanTime" />
        <result column="clean_info" property="cleanInfo" />
        <result column="dispatch_type" property="dispatchType" />
        <result column="dispatch_user_id" property="dispatchUserId" />
        <result column="dispatch_time" property="dispatchTime" />
        <result column="dispatch_ticket_id" property="dispatchTicketId" />
        <result column="fms_id" property="fmsId" />
        <result column="useflag" property="useflag" />
        <result column="del_user_id" property="delUserId" />
        <result column="deltime" property="deltime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        res_abnormal_id AS resAbnormalId, res_id AS resId, mo_th_id AS moThId, mo_kpi_id AS moKpiId, mo_abnormal_id AS moAbnormalId, res_abnormal_code AS resAbnormalCode, res_abnormal_name AS resAbnormalName, res_abnormallevel_id AS resAbnormallevelId, abnormal_type_id AS abnormalTypeId, res_abnormaldesc AS resAbnormaldesc, res_abnomaltime AS resAbnomaltime, res_recoverytime AS resRecoverytime, res_abnormalvalue AS resAbnormalvalue, res_revoveryvalue AS resRevoveryvalue, confirm_status AS confirmStatus, res_abnormalstatus AS resAbnormalstatus, confirm_type AS confirmType, confirm_user_id AS confirmUserId, confirm_time AS confirmTime, confirm_info AS confirmInfo, clean_type AS cleanType, clean_user_id AS cleanUserId, clean_time AS cleanTime, clean_info AS cleanInfo, dispatch_type AS dispatchType, dispatch_user_id AS dispatchUserId, dispatch_time AS dispatchTime, dispatch_ticket_id AS dispatchTicketId, fms_id AS fmsId, useflag, del_user_id AS delUserId, deltime
    </sql>

</mapper>
