<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.ResStypeKpiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.ResStypeKpi">
        <id column="id" property="id"/>
        <result column="res_stype_id" property="resStypeId"/>
        <result column="mo_kpi_id" property="moKpiId"/>
        <result column="stype_flag" property="stypeFlag"/>
        <result column="useflag" property="useflag"/>
        <result column="user_id_create" property="userIdCreate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_id_mod" property="userIdMod"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <resultMap id="resultCustomerMap" type="com.hedian.entity.ResStypeKpi">
        <id column="id" property="id"/>
        <result column="res_stype_id" property="resStypeId"/>
        <result column="mo_kpi_id" property="moKpiId"/>
        <result column="stype_flag" property="stypeFlag"/>
        <result column="useflag" property="useflag"/>
        <result column="user_id_create" property="userIdCreate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_id_mod" property="userIdMod"/>
        <result column="gmt_modified" property="gmtModified"/>
        <association property="moKpi" javaType="com.hedian.entity.MoKpi">
            <id column="mo_kpi_id" property="moKpiId"/>
            <result column="mo_kpi_name" property="moKpiName"/>
            <result column="mo_kpi_key" property="moKpiKey"/>
            <result column="mo_kpi_desc" property="moKpiDesc"/>
            <result column="unit_ch" property="unitCh"/>
            <result column="unit_en" property="unitEn"/>
            <result column="showorder" property="showorder"/>
            <result column="useflag" property="useflag"/>
            <result column="user_id_create" property="userIdCreate"/>
            <result column="gmt_create" property="gmtCreate"/>
            <result column="user_id_mod" property="userIdMod"/>
            <result column="gmt_modified" property="gmtModified"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, res_stype_id AS resStypeId, mo_kpi_id AS moKpiId, stype_flag AS stypeFlag, useflag, user_id_create AS userIdCreate, gmt_create AS gmtCreate, user_id_mod AS userIdMod, gmt_modified AS gmtModified
    </sql>
    <select id="selectByResStypeId" resultMap="resultCustomerMap">
      SELECT * FROM  tbl_res_stype_kpi rsk, tbl_mo_kpi mk
      WHERE rsk.mo_kpi_id = mk.mo_kpi_id
      AND rsk.res_stype_id = #{res_stype_id,jdbcType=INTEGER}
    </select>

</mapper>
