<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.SysMenu">
        <id column="menu_id" property="menuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="order_num" property="orderNum"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id AS menuId, parent_id AS parentId, name, url, perms, type, icon, order_num AS orderNum, gmt_create AS gmtCreate, gmt_modified AS gmtModified
    </sql>

    <!-- 根据角色查询菜单 -->
    <select id="findMenuByRoleId" resultMap="BaseResultMap">
        select m.* from sys_menu m LEFT JOIN sys_role_menu r on r.menu_id= m.menu_id
        WHERE
        1 = 1
        <if test="roleId !=null">
            AND r.role_id = #{roleId}
        </if>
    </select>
    <!--根据用户id 查询权限列表，自己角色权限和自己所属用户组角色权限  去并集-->
    <select id="findMenuByUserId" resultMap="BaseResultMap">
        select DISTINCT * FROM (
        select  sm.* from(
        select rm.* from(
        select sr.role_id from sys_grp_role gr INNER JOIN sys_role sr on gr.role_id=sr.role_id
        where gr.grp_id in (select grp_id from sys_grp_user where
        1 = 1
        <if test=" userId !=null and userId !=''">
            AND user_id = #{userId}
        </if>
        )) t
        INNER JOIN sys_role_menu rm on t.role_id=rm.role_id) m
        INNER JOIN sys_menu sm on m.menu_id=sm.menu_id

        union all

        select sm.* from
        (select rm.menu_id from
        (
        select sr.role_id from sys_user_role ur INNER JOIN sys_role sr on ur.role_id=sr.role_id
        where
        1 = 1
        <if test=" userId !=null and userId !=''">
            AND ur.user_id = #{userId}
        </if>
        ) m
        INNER JOIN sys_role_menu rm on m.role_id = rm.role_id)tt
        INNER JOIN sys_menu sm on tt.menu_id = sm.menu_id) menu_all

    </select>

</mapper>
