<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.WfBusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.WfBusiness">
        <id column="business_id" property="businessId"/>
        <result column="wf_id" property="wfId"/>
        <result column="wf_title" property="wfTitle"/>
        <result column="wf_type" property="wfType"/>
        <result column="wo_sla_id" property="woSlaId"/>
        <result column="user_id" property="userId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="telephone" property="telephone"/>
        <result column="res_abnormaldesc" property="resAbnormaldesc"/>
        <result column="url" property="url"/>
        <result column="res_abnormal_id" property="resAbnormalId"/>
        <result column="abnormal_type_id" property="abnormalTypeId"/>
        <result column="res_abnormallevel_id" property="resAbnormallevelId"/>
        <result column="res_id" property="resId"/>
        <result column="res_stype_id" property="resStypeId"/>
        <result column="res_mtype_id" property="resMtypeId"/>
        <result column="wf_status" property="wfStatus"/>
        <result column="useflag" property="useflag"/>
        <result column="current_step" property="currentStep"/>
        <result column="current_user" property="currentUser"/>
        <result column="wo_eval_score" property="woEvalScore"/>
        <result column="parent_business_id" property="parentBusinessId"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="CustomMap" type="com.hedian.model.WfBusinessModel">
        <id column="business_id" property="businessId"/>
        <result column="wf_id" property="wfId"/>
        <result column="wf_title" property="wfTitle"/>
        <result column="wf_type" property="wfType"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="telephone" property="telephone"/>
        <result column="res_abnormaldesc" property="resAbnormaldesc"/>
        <result column="url" property="url"/>
        <result column="wf_status" property="wfStatus"/>
        <result column="hopetime" property="hopetime"/>
        <result column="deadtime" property="deadtime"/>
        <result column="username" property="username"/>
        <result column="res_abnormal_id" property="resAbnormalId"/>
        <result column="res_abnormal_name" property="resAbnormalName"/>
        <result column="res_abnomaltime" property="resAbnomaltime"/>
        <result column="abnormal_type_name" property="abnormalTypeName"/>
        <result column="abnormal_type_id" property="abnormalTypeId"/>
        <result column="res_abnormallevel_id" property="resAbnormallevelId"/>
        <result column="res_abnormallevel_name" property="resAbnormallevelName"/>
        <result column="res_mtype_name" property="resMtypeName"/>
        <result column="res_stype_name" property="resStypeName"/>
        <result column="currentUserName" property="currentUserName"/>
        <result column="current_user" property="currentUser"/>
        <result column="current_step" property="currentStep"/>
        <result column="wo_eval_score" property="woEvalScore"/>
        <association property="resBase" javaType="com.hedian.entity.ResBase">
            <id column="res_id" property="resId"/>
            <result column="res_name" property="resName"/>
            <result column="res_alias" property="resAlias"/>
            <result column="res_ipv4" property="resIpv4"/>
            <result column="res_address" property="resAddress"/>
        </association>
        <association property="wfReviewInfoModel" javaType="com.hedian.model.WfReviewInfoModel">
            <id column="review_id" property="reviewId"/>
            <result column="disName" property="disName"/>
            <result column="dis_phone" property="disPhone"/>
            <result column="review_desc" property="reviewDesc"/>
            <result column="review_time" property="reviewTime"/>
            <result column="currentReviewName" property="currentReviewName"/>
        </association>
        <association property="wfDisInfoModel" javaType="com.hedian.model.WfDisInfoModel">
            <id column="dis_id" property="disId"/>
            <result column="dis_info" property="disInfo"/>
            <result column="dis_time" property="disTime" />
            <result column="currentDisName" property="currentDisName"/>
            <result column="overName" property="overName"/>
            <result column="over_phone" property="overPhone"/>
        </association>
        <association property="wfOverInfoModel" javaType="com.hedian.model.WfOverInfoModel">
            <id column="over_id" property="overId"/>
            <result column="over_file" property="overFile"/>
            <result column="over_type" property="overType"/>
            <result column="over_info" property="overInfo"/>
            <result column="over_time" property="overTime" />
            <result column="currentOverName" property="currentOverName"/>
            <result column="handleName" property="handleName"/>
            <result column="handle_phone" property="handlePhone"/>
        </association>
        <association property="wfHandleInfoModel" javaType="com.hedian.model.WfHandleInfoModel">
            <id column="handle_id" property="handleId"/>
            <result column="handle_file" property="handleFile"/>
            <result column="handle_type" property="handleType"/>
            <result column="handle_info" property="handleInfo"/>
            <result column="handle_method" property="handleMethod"/>
            <result column="handle_info" property="handleInfo"/>
            <result column="handle_time" property="handleTime"/>
            <result column="currentHandleName" property="currentHandleName"/>
            <result column="confirmName" property="confirmName"/>
            <result column="confirm_phone" property="confirmPhone"/>
        </association>
        <association property="wfConfirmInfoModel" javaType="com.hedian.model.WfConfirmInfoModel">
            <id column="confirm_id" property="confirmId"/>
            <result column="confirm_info" property="confirmInfo"/>
            <result column="confirm_time" property="confirmTime" />
            <result column="currentConfirmName" property="currentConfirmName"/>
            <result column="baseAppraName" property="baseAppraName"/>
            <result column="base_appra_phone" property="baseAppraPhone"/>
        </association>
        <association property="wfBaseAppraInfoModel" javaType="com.hedian.model.WfBaseAppraInfoModel">
            <id column="base_appra_id" property="baseAppraId"/>
            <result column="base_appra_info" property="baseAppraInfo"/>
            <result column="base_appra_score" property="baseAppraScore"/>
            <result column="base_appra_time" property="baseAppraTime" />
            <result column="currentBaseAppraName" property="currentBaseAppraName"/>
            <result column="kexinAppraName" property="kexinAppraName"/>
            <result column="kexin_appra_phone" property="kexinAppraPhone"/>
        </association>
        <association property="wfKexinAppraInfoModel" javaType="com.hedian.model.WfKexinAppraInfoModel">
            <id column="kexin_appra_id" property="kexinAppraId"/>
            <result column="kexin_appra_info" property="kexinAppraInfo"/>
            <result column="kexin_appra_name" property="kexinAppraName"/>
            <result column="kexin_appra_score" property="kexinAppraScore"/>
            <result column="kexin_appra_time" property="kexinAppraTime" />
        </association>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="AppraiseMap" type="com.hedian.model.AppraiseWfBusinessModel">
        <id column="business_id" property="businessId"/>
        <result column="wf_id" property="wfId"/>
        <result column="wf_title" property="wfTitle"/>
        <result column="wf_type" property="wfType"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="telephone" property="telephone"/>
        <result column="res_abnormaldesc" property="resAbnormaldesc"/>
        <result column="url" property="url"/>
        <result column="wf_status" property="wfStatus"/>
        <result column="hopetime" property="hopetime"/>
        <result column="deadtime" property="deadtime"/>
        <result column="username" property="username"/>
        <result column="res_abnormal_id" property="resAbnormalId"/>
        <result column="abnormal_type_id" property="abnormalTypeId"/>
        <result column="res_abnormallevel_id" property="resAbnormallevelId"/>
        <result column="res_abnormallevel_name" property="resAbnormallevelName"/>
        <result column="res_mtype_name" property="resMtypeName"/>
        <result column="res_stype_name" property="resStypeName"/>
        <result column="current_user" property="currentUser"/>
        <result column="current_step" property="currentStep"/>
        <result column="wo_eval_score" property="woEvalScore"/>
        <result column="deptName" property="deptName"/>
        <result column="abnormal_type_name" property="abnormalTypeName"/>
        <association property="wfBaseAppraInfoModel" javaType="com.hedian.model.WfBaseAppraInfoModel">
            <id column="base_appra_id" property="baseAppraId"/>
            <result column="base_appra_info" property="baseAppraInfo"/>
            <result column="base_appra_score" property="baseAppraScore"/>
            <result column="base_appra_time" property="baseAppraTime" />
            <result column="currentBaseAppraName" property="currentBaseAppraName"/>
            <result column="kexinAppraName" property="kexinAppraName"/>
            <result column="kexin_appra_phone" property="kexinAppraPhone"/>
        </association>
        <association property="wfKexinAppraInfoModel" javaType="com.hedian.model.WfKexinAppraInfoModel">
            <id column="kexin_appra_id" property="kexinAppraId"/>
            <result column="kexin_appra_info" property="kexinAppraInfo"/>
            <result column="kexin_appra_name" property="kexinAppraName"/>
            <result column="kexin_appra_score" property="kexinAppraScore"/>
            <result column="kexin_appra_time" property="kexinAppraTime" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, wf_id AS wfId, wf_title AS wfTitle, wf_type AS wfType, wo_sla_id AS woSlaId, user_id AS userId,telephone, gmt_create AS gmtCreate, res_abnormaldesc AS resAbnormaldesc, url, res_abnormal_id AS resAbnormalId, abnormal_type_id AS abnormalTypeId, res_abnormallevel_id AS resAbnormallevelId, res_id AS resId, res_stype_id AS resStypeId, res_mtype_id AS resMtypeId, wf_status AS wfStatus, useflag, current_step AS currentStep, current_user AS currentUser, wo_eval_score AS woEvalScore, parent_business_id AS parentBusinessId
    </sql>

    <select id="selectPageByCondition" resultMap="CustomMap">
        SELECT
        wb.business_id,wb.wf_id,wb.wf_title,wb.wf_type,wb.telephone,wb.gmt_create,wb.res_abnormal_id,wb.abnormal_type_id,
        wb.res_abnormallevel_id,
        wb.res_abnormaldesc,wb.url,wb.wo_eval_score,wb.current_step,wb.current_user,wb.wf_status,
        ws.hopetime,
        ws.deadtime,
        su.name AS userName,
        trb.res_id,
        trb.res_name,
        trb.res_alias,
        trb.res_ipv4,
        trb.res_address,
        rmi.res_abnormal_name,
        rmi.res_abnomaltime,
        tat.abnormal_type_name,
        tra.res_abnormallevel_name,
        trm.res_mtype_name,
        trs.res_stype_name,
        susu.name As currentUserName,
        twri.*,
        twdi.*,
        twoi.*,
        twhi.*,
        twci.*,
        twbai.*,
        twkai.*

        FROM
        tbl_wf_business wb
        LEFT JOIN tbl_wo_sla ws ON wb.wo_sla_id = ws.wo_sla_id
        LEFT JOIN sys_user su ON wb.user_id =su.user_id
        LEFT JOIN tbl_res_mo_abnormal_info rmi ON wb.res_abnormal_id = rmi.res_abnormal_id
        LEFT JOIN tbl_abnormal_type tat ON wb.abnormal_type_id = tat.abnormal_type_id
        LEFT JOIN tbl_res_abnormallevel tra ON wb.res_abnormallevel_id = tra.res_abnormallevel_id
        LEFT JOIN tbl_res_base trb ON wb.res_id = trb.res_id
        LEFT JOIN tbl_res_maintype trm ON wb.res_mtype_id = trm.res_mtype_id
        LEFT JOIN tbl_res_subtype trs ON wb.res_stype_id = trs.res_stype_id
        LEFT JOIN sys_user susu ON wb.current_user = susu.user_id
        LEFT JOIN
        (
        SELECT twri.business_id,twri.review_id,twri.dis_phone,twri.review_desc,twri.review_time,twri.review_user_id,
        (select name from sys_user where user_id=twri.review_user_id) AS currentReviewName,
        (select name from sys_user where user_id=twri.dis_user_id) AS disName FROM
        tbl_wf_review_info twri
        ) twri
        ON wb.business_id = twri.business_id
        LEFT JOIN
        (
        SELECT twdi.dis_id,twdi.business_id,twdi.over_phone,twdi.dis_info,twdi.dis_time,twdi.dis_user_id,
        (select name from sys_user where user_id=twdi.dis_user_id) AS currentDisName,
        (select name from sys_user where user_id=twdi.over_user_id) AS overName FROM
        tbl_wf_dis_info twdi
        ) twdi
        ON wb.business_id = twdi.business_id
        LEFT JOIN
        (
        SELECT twoi.business_id,twoi.over_id,twoi.over_info,twoi.over_file,twoi.over_type,twoi.over_time,twoi.handle_phone,twoi.over_user_id,
        (select name from sys_user where user_id=twoi.over_user_id) AS currentOverName,
        (select name from sys_user where user_id=twoi.handle_user_id) AS handleName FROM
        tbl_wf_over_info twoi
        ) twoi
        ON wb.business_id = twoi.business_id
        LEFT JOIN
        (
        SELECT twhi.business_id,twhi.handle_id,twhi.confirm_phone,twhi.handle_file,twhi.handle_type,twhi.handle_info, twhi.handle_method,
        twhi.handle_time,twhi.handle_user_id,
        (select name from sys_user where user_id=twhi.handle_user_id) AS currentHandleName,
        (select name from sys_user where user_id=twhi.confirm_user_id) AS confirmName FROM
        tbl_wf_handle_info twhi
        ) twhi
        ON wb.business_id = twhi.business_id
        LEFT JOIN
        (
        SELECT twci.business_id,twci.confirm_id,twci.base_appra_phone,twci.confirm_info,twci.confirm_time,twci.confirm_user_id,
        (select name from sys_user where user_id=twci.confirm_user_id) AS currentConfirmName,
        (select name from sys_user where user_id=twci.base_appra_user_id) AS baseAppraName FROM
        tbl_wf_confirm_info twci
        ) twci
        ON wb.business_id = twci.business_id
        LEFT JOIN
        (
        SELECT
        twbai.business_id,twbai.base_appra_id,twbai.base_appra_score,twbai.kexin_appra_phone,twbai.base_appra_info,twbai.base_appra_time,
        (select name from sys_user where user_id=twbai.base_appra_user_id) AS currentBaseAppraName,
        (select name from sys_user where user_id=twbai.kexin_appra_user_id) AS kexinAppraName  FROM
        tbl_wf_base_appra_info twbai
        ) twbai
        ON wb.business_id = twbai.business_id
        LEFT JOIN
        (
        SELECT twkai.business_id,twkai.kexin_appra_id,twkai.kexin_appra_score,twkai.kexin_appra_time,twkai.kexin_appra_info,
        (select name from sys_user where user_id=twkai.kexin_appra_user_id) AS kexinAppraName FROM
        tbl_wf_kexin_appra_info twkai
        ) twkai
        ON wb.business_id = twkai.business_id
        WHERE wb.useflag=1
        <if test="wfType != null and wfType != ''">
            AND wb.wf_type = #{wfType}
        </if>
        <if test="wfTitle != null and wfTitle != ''">
            AND wb.wf_title LIKE concat('%',#{wfTitle},'%')
        </if>
        <if test="resAbnormallevelName != null and resAbnormallevelName != ''">
            AND tra.res_abnormallevel_name LIKE concat('%',#{resAbnormallevelName},'%')
        </if>
        <if test="wfStatus != null">
            AND wb.wf_status =#{wfStatus}
        </if>
        <if test="resName != null and resName != ''">
            AND trb.res_name LIKE concat('%',#{resName},'%')
        </if>
        <if test="userName != null and userName != ''">
            AND su.userName LIKE concat('%',#{userName},'%')
        </if>
        <if test="handleId != null and handleId != ''">
            AND (twri.review_user_id=#{handleId} OR twdi.dis_user_id=#{handleId} OR
                 twoi.over_user_id=#{handleId} OR twhi.handle_user_id=#{handleId} OR
                 twci.confirm_user_id=#{handleId})
        </if>
        <if test="userId != null and userId != ''">
            AND wb.user_id = #{userId}
        </if>
        <if test="currentUser != null and currentUser != ''">
            AND wb.current_user = #{currentUser}
        </if>
        <if test="currentUserName != null and currentUserName != ''">
            AND susu.username LIKE concat('%',#{currentUserName},'%')
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND wb.gmt_create <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND wb.gmt_create <![CDATA[ <= ]]> #{endTime}
        </if>
          ORDER BY wb.gmt_create DESC
    </select>


    <!--评价列表-->
    <select id="selectAppraisePageByCondition" resultMap="AppraiseMap">
        SELECT
        wb.business_id,wb.wf_id,wb.wf_title,wb.wf_type,wb.telephone,wb.gmt_create,
        wb.res_abnormaldesc,
        ws.hopetime,
        ws.deadtime,
        trb.res_name,
        tra.res_abnormallevel_name,
        tat.abnormal_type_name,
        trm.res_mtype_name,
        trs.res_stype_name,
        twri.*,
        twbai.*,
        twkai.*

        FROM
        tbl_wf_business wb
        INNER JOIN tbl_wo_sla ws ON wb.wo_sla_id = ws.wo_sla_id
        INNER JOIN tbl_res_abnormallevel tra ON wb.res_abnormallevel_id = tra.res_abnormallevel_id
        INNER JOIN tbl_res_base trb ON wb.res_id = trb.res_id
        INNER JOIN tbl_abnormal_type tat ON   wb.abnormal_type_id=tat.abnormal_type_id
        INNER JOIN tbl_res_maintype trm ON wb.res_mtype_id = trm.res_mtype_id
        INNER JOIN tbl_res_subtype trs ON wb.res_stype_id = trs.res_stype_id
        INNER JOIN
        (
        SELECT business_id,(select name from sys_dept where dept_id = twri.dept_id) AS deptName FROM
        tbl_wf_review_info twri
        ) twri
        ON wb.business_id = twri.business_id
        INNER JOIN
        (
        SELECT
        twbai.business_id,twbai.base_appra_id,twbai.base_appra_score,twbai.base_appra_info,twbai.base_appra_time,
        (select name from sys_user where user_id=twbai.base_appra_user_id) AS baseAppraName  FROM
        tbl_wf_base_appra_info twbai
        ) twbai
        ON wb.business_id = twbai.business_id
        INNER JOIN
        (
        SELECT twkai.business_id,twkai.kexin_appra_id,twkai.kexin_appra_score,twkai.kexin_appra_time,twkai.kexin_appra_info,
        (select name from sys_user where user_id=twkai.kexin_appra_user_id) AS kexinAppraName FROM
        tbl_wf_kexin_appra_info twkai
        ) twkai
        ON wb.business_id = twkai.business_id
        WHERE wb.useflag=1
        <if test="wfId !=null and wfId !=''">
            and wb.wf_id=#{wfId}
        </if>
        <if test="wfTitle !=null and wfTitle !=''">
            and wb.wf_title=#{wfTitle}
        </if>
        <if test="baseUserName !=null and baseUserName !=''">
            and  baseAppraName=#{baseUserName}
        </if>
        <if test="kexinUserName !=null and kexinUserName !=''">
            and kexinAppraName=#{kexinUserName}
         </if>
        <if test="baseAppraBeginTime !=null and baseAppraBeginTime !=''">
            and  twbai.base_appra_time <![CDATA[ >= ]]> #{baseAppraBeginTime}
        </if>
        <if test="baseAppraEndTime !=null and baseAppraEndTime !=''">
            and  twbai.base_appra_time  <![CDATA[ <= ]]> #{baseAppraEndTime}
        </if>
        <if test="kexinAppraBeginTime !=null and kexinAppraBeginTime !='' ">
            and twkai.kexin_appra_time <![CDATA[ >= ]]> #{kexinAppraBeginTime}
        </if>
        <if test="kexinAppraEndTime !=null and kexinAppraEndTime !=''">
            and twkai.kexin_appra_time  <![CDATA[ >= ]]> #{kexinAppraEndTime}
        </if>
        <if test="baseAppraScore !=null and baseAppraScore != '' and defFlag==0">
        and twbai.base_appra_score <![CDATA[ > ]]> #{baseAppraScore}
      </if>
        <if test="baseAppraScore !=null and baseAppraScore != '' and defFlag==1">
            and twbai.base_appra_score <![CDATA[ < ]]> #{baseAppraScore}
        </if>
        <if test="baseAppraScore !=null and baseAppraScore != '' and defFlag==2">
            and twbai.base_appra_score <![CDATA[ = ]]> #{baseAppraScore}
        </if>
        <if test="baseAppraScore !=null and baseAppraScore != '' and defFlag==3">
            and twbai.base_appra_score <![CDATA[ >= ]]> #{baseAppraScore}
        </if>
        <if test="baseAppraScore !=null and baseAppraScore != '' and defFlag==4">
            and twbai.base_appra_score <![CDATA[ <= ]]> #{baseAppraScore}
        </if>
        <if test="kexinAppraScore !=null and kexinAppraScore != '' and defFlag==0">
            and twkai.kexin_appra_score <![CDATA[ > ]]> #{kexinAppraScore}
        </if>
        <if test="kexinAppraScore !=null and kexinAppraScore != '' and defFlag==1">
            and twkai.kexin_appra_score <![CDATA[ < ]]> #{kexinAppraScore}
        </if>
        <if test="kexinAppraScore !=null and kexinAppraScore != '' and defFlag==2">
            and twkai.kexin_appra_score <![CDATA[ = ]]> #{kexinAppraScore}
        </if>
        <if test="kexinAppraScore !=null and kexinAppraScore != '' and defFlag==3">
            and twkai.kexin_appra_score <![CDATA[ >= ]]> #{kexinAppraScore}
        </if>
        <if test="kexinAppraScore !=null and kexinAppraScore != '' and defFlag==4">
            and twkai.kexin_appra_score <![CDATA[ <= ]]> #{kexinAppraScore}
        </if>
         ORDER BY wb.gmt_create DESC

        </select>




</mapper>
