<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.WfReviewInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.WfReviewInfo">
        <id column="review_id" property="reviewId" />
        <result column="business_id" property="businessId" />
        <result column="deptId" property="deptId" />
        <result column="userId" property="userId" />
        <result column="phone" property="phone"/>
        <result column="review_desc" property="reviewDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id AS reviewId, business_id AS businessId, deptId, userId, phone,review_desc AS reviewDesc
    </sql>

</mapper>
