<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.WfReviewInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.WfReviewInfo">
        <id column="review_id" property="reviewId" />
        <result column="business_id" property="businessId" />
        <result column="deptId" property="deptId" />
        <result column="review_user_id" property="reviewUserId" />
        <result column="review_desc" property="reviewDesc" />
        <result column="dis_user_id" property="disUserId" />
        <result column="dis_phone" property="disPhone"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id AS reviewId, business_id AS businessId, deptId,review_user_id AS reviewUserId, review_desc AS reviewDesc, dis_user_id AS disUserId, dis_phone AS disPhone
    </sql>

</mapper>
