<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedian.mapper.WoSlaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hedian.entity.WoSla">
        <id column="wo_sla_id" property="woSlaId" />
        <result column="wo_sla_name" property="woSlaName" />
        <result column="wo_sla_desc" property="woSlaDesc" />
        <result column="res_abnormallevel_id" property="resAbnormallevelId" />
        <result column="proc_def_id" property="procDefId" />
        <result column="act_id_in" property="actIdIn" />
        <result column="act_id_out" property="actIdOut" />
        <result column="hopetime" property="hopetime" />
        <result column="deadtime" property="deadtime" />
        <result column="begintime" property="begintime" />
        <result column="endtime" property="endtime" />
        <result column="wo_sla_status" property="woSlaStatus" />
        <result column="createflag" property="createflag" />
        <result column="delflag" property="delflag" />
        <result column="useflag" property="useflag" />
        <result column="user_id_create" property="userIdCreate" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="user_id_mod" property="userIdMod" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wo_sla_id AS woSlaId, wo_sla_name AS woSlaName, wo_sla_desc AS woSlaDesc, res_abnormallevel_id AS resAbnormallevelId, proc_def_id AS procDefId, act_id_in AS actIdIn, act_id_out AS actIdOut, hopetime, deadtime, begintime, endtime, wo_sla_status AS woSlaStatus, createflag, delflag, useflag, user_id_create AS userIdCreate, gmt_create AS gmtCreate, user_id_mod AS userIdMod, gmt_modified AS gmtModified
    </sql>

</mapper>
